<img src="assets/img/bmi.png" alt="Image not found">
<div class="cal">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Enter Your Height</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="{{height}}">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Enter Your Weight</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="{{weight}}">
      </div>
</div>

<h1>Your Bmi is {{bmi}}</h1>