<footer id="footer">
    <a href="https://twitter.com/HIMANSHUVIJAYS7"><i class="footer-img fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/himanshu.suryawanshi.1629/"><i class="footer-img fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/himanshusuryawanshi28061999/"><i class="footer-img fab fa-instagram"></i></a>
    <a href="mailto:himanshu28061999@gmail.com"><i class="footer-img fas fa-envelope"></i></a>
    <p>© Copyright 2021 HIMANSHU SURYAWANSHI</p>
  </footer>